@import url("/home/nadun/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border: 2px solid @color2;
    padding: 0 10px;
    opacity: .9;
}

#workspaces {
    border-radius: 10px;
    border: 2px solid rgba(166, 173, 200, 0.3);
}

#workspaces button {
    margin: 2px 2px 2px 5px;
    border-radius: 10px;
    color: @foreground;
}

#workspaces button.focused {
    background: @color1;
}

#workspaces button.urgent {
    color: #11111b;
    background: @color2;
}

#workspaces button:hover {
    background: @background;
    color: @color2;
}

#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#workspaces {
    color: @foreground;
    background: rgba(30, 30, 46, .4);
    opacity: 0.8;
    padding: 0px 10px;
    margin-top: 15px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid rgba(166, 173, 200, 0.3);
}

#clock {
    color: @color4;
    border: 2px solid rgba(166, 173, 200, 0.3);
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
    margin-left: 30px;
    border-right: 0px;
    padding: 0 15px 0 10px;
}

#pulseaudio {
    color: @color4;
    border: 2px solid rgba(166, 173, 200, 0.3);
    border-right: 0;
    border-left: 0;
}

#battery {
    color: @color4;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgba(166, 173, 200, 0.3);
    border-right: 0;
}

#backlight {
    color: @color4;
    border-radius: 0 10px 10px 0;
    margin-right: 30px;
    border: 2px solid rgba(166, 173, 200, 0.3);
    border-left: 0;
}

#custom-weather {
    color: @color4;
    border-radius: 0 10px 10px 0;
    padding: 0 10px 0 0;
    border: 2px solid rgba(166, 173, 200, 0.3);
    border-left: 0;
}

#window {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(166, 173, 200, 0.3);
}
