@import url("/home/nadun/.cache/wal/colors-waybar.css");

* {
    font-family: "CaskaydiaCove NF";
    font-weight: 600;
    color: @foreground;
}

.notification {
    background: rgba(30, 30, 46, .4);
    border-radius: 10px;
    color: @foreground;
    padding: 0;
    margin-right: 20px;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid @color6;
    transition: 300ms ease;
}

.control-center .notification {
    border: 2px solid @color6;
}

.control-center .notification:hover,
.notification:hover {
    background: transparent;
}

.control-center {
    background: rgba(30, 30, 46, .4);
    border-radius: 10px;
    color: @foreground;
    padding: 10px;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid @color6;
}

.control-center .notification-group .notification:not(:only-child)>* {
    background: rgba(30, 30, 46, 1);
}

.close-button,
.notification-default-action,
.notification-action,
.notification-group,
.widget-buttons-grid>flowbox>flowboxchild {
    background: transparent;
}

.notification-action * {
    background: transparent;
    border: none;
    outline: none;
}

.notification-action:hover * {
    color: @color0;
}

.notification-default-action,
.notification-action {
    margin: 0;
    box-shadow: none;
    color: @foreground;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

.notification flowbox flowboxchild button {
    border: none;
    outline: none;
    background: transparent;
}

.notification-action:hover {
    background: @color6;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-group {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.control-center .close-button {
    margin-top: 10px;
    margin-right: 30px;
}

.close-button {
    color: @foreground;
    font-size: 32px;
    padding: 0;
    margin-top: 10px;
    margin-right: 30px;
}

.summary {
    font-weight: 900;
    color: @foreground;
}

.body {
    font-weight: 600;
    color: @foreground;
    opacity: 0.6;
}

.image,
.body-image {
    border-radius: 5px;
    margin-right: 15px;
}

.inline-reply-entry {
    background: transparent;
    color: @foreground;
    caret-color: @foreground;
}

.inline-reply-button {
    margin-left: 5px;
    background: transparent;
    border: 2px solid @color6;
    color: @foreground;
}

.inline-reply-button:disabled {
    background: transparent;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: @color6;
    color: @color0;
}

.widget-dnd {
    color: @color6;
    margin: 0 25px;
}

.widget-dnd>switch {
    background: transparent;
    color: @color6;
    border: 2px solid @color6;
    border-radius: 25px;
}

.widget-dnd>switch * {
    background: @color6;
    padding: 1px;
}

.widget-dnd>switch:checked {
    background: @color6;
    border: 2px solid transparent;
}

.widget-dnd>switch:checked * {
    background: @color0;
}


.widget-buttons-grid {
    background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    background: rgba(30, 30, 46, .4);
    color: @foreground;
    border: 2px solid @color6;
    margin: 5px 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @color6;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover * {
    color: @color0;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
    background: @color6;
    color: @color0;
}

.control-center .widget-volume scale trough highlight,
.control-center .widget-backlight scale trough highlight {
    background: @color6;
}

.widget-volume,
.widget-backlight {
    background: transparent;
    padding: 5px;
    margin: 5px 25px;
    color: @color6;
}
