@import url("/home/nadun/.cache/wal/colors-waybar.css");

.notification {
    background: rgba(30, 30, 46, .4);
    border-radius: 10px;
    color: @foreground;
    padding: 0;
    margin-right: 20px;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid @color6;
    transition: 300ms ease;
}

.control-center {
    background: rgba(30, 30, 46, .4);
    border-radius: 10px;
    color: @foreground;
    padding: 10px;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid @color6;
}

.close-button,
.notification-default-action,
.notification-action  {
    background: transparent;
}

.close-button {
    color: @foreground;
    font-size: 24px;
}

.summary {
    font-weight: 900;
    color: @foreground;
}

.body {
    font-weight: 600;
    color: @foreground;
    opacity: 0.6;
}

.image,
.body-image {
    border-radius: 5px;
    margin-right: 15px;
}
