.notification {
    background: rgba(12, 12, 14, 0.45);
    border-radius: 10px;
    color: #a6adc8;
    padding: 0;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid rgba(205, 214, 244, 0.6);
    transition: 300ms ease;
}

.control-center {
    background: rgba(12, 12, 14, 0.45);
    border-radius: 10px;
    color: rgba(205, 214, 244, 0.6);
    padding: 10px;
    font-family: "CaskaydiaCove Nerd Font";
    border: 2px solid rgba(205, 214, 244, 0.6);
}

.close-button,
.notification-default-action,
.notification-action  {
    background: transparent;
}

.close-button {
    color: #a6adc8;
    font-size: 24px;
}

.summary {
    font-weight: 900;
    color: #cdd6f4;
}

.body {
    font-weight: 600;
    color: #a6adc8;
}

.image,
.body-image {
    border-radius: 5px;
    margin-right: 15px;
}
